body {
    height: 100vh;
}

.container{
    height: 100%;
}

h1 {
    text-align: center;
}

.frame {
    border: 1px solid black;
    border-radius: 5px;
    padding: 23px 45px;
    background-color: #f6f6f6;
    box-shadow: 5px 3px 20px -8px rgb(0 0 0 / 41%);
    max-width: 480px;
    width: 100%;
    height: fit-content;
    margin: auto;
}

.form-group{
    margin-bottom: 15px;
}

.form-group label{
    width: 100%;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-group input{
    width: 100%;
}